@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$primary-color: #9327FF;

body {
  //color:$primary-color;
}

.faqs .faq.open .faq-question{
  margin-bottom:15px;
}
.faqs .faq .faq-answer{
  transition: all .4s ease-out;
}
.faqs .faq.open .faq-answer{
  opacity:1;
  min-height:20px;
}
.faqs .faq.open img{
  transform:rotate(-90deg)
}

.hero{
  height:80vh;
  background-image:url("/images/hero.jpg");
  background-size:cover;
}
#title{
  top:40%;
  left:50%;
  transform:translate(-50%,-50%)
}
#searchContainer{
  top:55%;
  left:52.5%;
  transform:translate(-50%,-50%)
}
