@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.faqs .faq.open .faq-question{
  margin-bottom:15px;
}
.faqs .faq .faq-answer{
  transition: all .4s ease-out;
}
.faqs .faq.open .faq-answer{
  opacity:1;
  min-height:20px;
}
.faqs .faq.open img{
  transform:rotate(-90deg)
}
